APP_NAME="UIAT Norte"
APP_TIMEZONE="America/Lima"
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_general_ci
DB_TIME_ZONE=-05:00

SEEKER_BASE_URL=https://seeker.red
SEEKER_TOKEN=
SEEKER_DNI_URL=https://seeker.red/personas/apiPremium/dni
SEEKER_PLACA_URL=https://seeker.red/vehiculos/api_newPlacas
