<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost(:[0-9]+)?$ [NC]
RewriteCond %{HTTP_HOST} !^127\.0\.0\.1(:[0-9]+)?$ [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

AddDefaultCharset utf-8
